################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Backend/WebApis/obj
/Backend/WebApis/.vs/WebApis
