/Backend/WebApis/bin/
/Backend/WebApis/obj/
/Backend/WebApis/.vs/
/Backend/WebApis/.vscode/
/Backend/WebApis/appsettings*.json

/Frontend/node_modules
/Frontend/build
/Frontend/.env

.env
.env.local
.vscode/
.idea/
# Logs
*.log