
@import "tailwindcss";

/* Custom global styles can be added here */
body #root {
  padding: 0px !important;
  margin: 0px !important;
  background: hsl(0, 40%, 98%);
  max-width:none;
  
}
body{
  padding: 0px !important;
  margin: 0px !important;
}
